@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
input,
fieldset,
legend,
p,
dl,
dt,
dd,
img {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

html {
    width: 100%;
}

b,
strong,
i,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.clean::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

body {
    font-family: "Microsoft YaHei", "PingFang SC";
    color: #666;
    background-color: #f2f2f2!important;
    overflow-x: hidden;
}